{% assign copy = message.copy | remove: "<p>" | remove: "</p>" %}

<div class="large--padding-horizontal-4 text-center large--text-left">
  <span class="font-size-1 large--font-size-2 font-weight-7 letter-spacing-2 line-height-copy">
    {{ copy }}
  </span>
</div>
