{% assign shop_logo = 'inked_logo.svg' | asset_url %}

<a href="/" class="block font-size--none line-height--none">
  <img
    class="logo"
    data-src="{{ shop_logo }}"
    alt="{{ shop.name }}" />
</a>
