<div id="custom" class="js-product-variant-gallery product-variant-gallery width-100 active relative" style="height: 500px;"
    data-variant-id="{{ current_variant.id }}">

    <div class="loading" id="js-loader">
      <div class="loader"></div>
    </div>
    
    <canvas class="customized-product" data-main data-active-path="cup" data-parent="custom" data-model-path="https://cdn.shopify.com/s/files/1/0084/2412/files/tea.glb?v=1596208819" id="custom-canvas"></canvas>
    <div class="controls"></div>
</div>
