<div class="width-100 center">
    <div class="slideshow-list width-100 overflow-auto">
      <div class="js-slick-slides" 
        data-slides-to-show="1"
        data-slides-to-show-mobile="1"
        data-center-mode="false"
        data-initial-slide="0"
        data-mobile-first="false">
        {% for i in (1..3) %}
            {% assign image_desktop = 'image_desktop' | append: i %}
            {% assign image_mobile = 'image_mobile' | append: i %}

            {% if block.settings[image_desktop] != blank %}
                <div class="relative aspect-ratio-1x1 large--aspect-ratio-3x1"> 
                    <div class="absolute absolute-fill">
                        <img class="object-fit-cover object-position-center" data-src-large="{{ block.settings[image_desktop] | img_url: 'master' }}" data-src="{{ block.settings[image_mobile] | img_url: 'master' }}">
                    </div>
                </div>
            {% endif %}
        {% endfor %}
      </div>
    </div>
</div>