<?xml version="1.0" encoding="UTF-8"?>
<svg style="width:100%" width="889px" height="405px" viewBox="0 0 889 405" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>BLACK</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="BLACK" transform="translate(19.000000, 0.000000)">
            <path d="M532.6,384.62 C542.6,384.966667 552.716667,385.143333 562.95,385.15 C721.32,385.15 849.71,342.29 849.71,289.41 L849.71,104.59" id="Path" stroke="#000000" stroke-width="39" stroke-linecap="round" stroke-linejoin="round"></path>
            <line x1="276.2" y1="104.59" x2="276.2" y2="183.3" id="Path" stroke="#000000" stroke-width="39" stroke-linecap="round" stroke-linejoin="round"></line>
            <path d="M563,186.58 L27.13,184.189769 C20.1613691,184.160753 13.4679789,186.907865 8.52912334,191.824203 C3.59026781,196.740541 0.81,203.421308 0.81,210.39 L0.81,359 C0.81,365.948672 3.57034922,372.612745 8.48380233,377.526198 C13.3972554,382.439651 20.061328,385.2 27.01,385.2 L563,385.2" id="Path" stroke="#000000" stroke-width="39" stroke-linecap="round" stroke-linejoin="round"></path>
            <ellipse id="Oval" fill="#000000" fill-rule="nonzero" cx="562.95" cy="97.96" rx="85.01" ry="20.38"></ellipse>
            <line x1="99.46" y1="329.65" x2="99.46" y2="385.15" id="Path" stroke="#000000" stroke-width="39" stroke-linecap="round" stroke-linejoin="round"></line>
            <line x1="46.15" y1="292.86" x2="46.15" y2="385.15" id="Path" stroke="#000000" stroke-width="39" stroke-linecap="round" stroke-linejoin="round"></line>
            <line x1="209.41" y1="329.65" x2="209.41" y2="385.15" id="Path" stroke="#000000" stroke-width="39" stroke-linecap="round" stroke-linejoin="round"></line>
            <line x1="156.1" y1="292.86" x2="156.1" y2="385.15" id="Path" stroke="#000000" stroke-width="39" stroke-linecap="round" stroke-linejoin="round"></line>
            <line x1="316.03" y1="329.65" x2="316.03" y2="385.15" id="Path" stroke="#000000" stroke-width="39" stroke-linecap="round" stroke-linejoin="round"></line>
            <line x1="262.72" y1="292.86" x2="262.72" y2="385.15" id="Path" stroke="#000000" stroke-width="39" stroke-linecap="round" stroke-linejoin="round"></line>
            <line x1="316.03" y1="329.65" x2="316.03" y2="385.15" id="Path" stroke="#000000" stroke-width="39" stroke-linecap="round" stroke-linejoin="round"></line>
            <line x1="262.72" y1="292.86" x2="262.72" y2="385.15" id="Path" stroke="#000000" stroke-width="39" stroke-linecap="round" stroke-linejoin="round"></line>
            <line x1="425.98" y1="329.65" x2="425.98" y2="385.15" id="Path" stroke="#000000" stroke-width="39" stroke-linecap="round" stroke-linejoin="round"></line>
            <line x1="372.67" y1="292.86" x2="372.67" y2="385.15" id="Path" stroke="#000000" stroke-width="39" stroke-linecap="round" stroke-linejoin="round"></line>
            <line x1="532.6" y1="329.65" x2="532.6" y2="385.15" id="Path" stroke="#000000" stroke-width="39" stroke-linecap="round" stroke-linejoin="round"></line>
            <line x1="479.29" y1="292.86" x2="479.29" y2="385.15" id="Path" stroke="#000000" stroke-width="39" stroke-linecap="round" stroke-linejoin="round"></line>
            <line x1="643.03" y1="329.65" x2="643.03" y2="379.15" id="Path" stroke="#000000" stroke-width="39" stroke-linecap="round" stroke-linejoin="round"></line>
            <line x1="589.72" y1="292.86" x2="589.72" y2="381.15" id="Path" stroke="#000000" stroke-width="39" stroke-linecap="round" stroke-linejoin="round"></line>
            <line x1="750.95" y1="319.61" x2="750.95" y2="358.73" id="Path" stroke="#000000" stroke-width="39" stroke-linecap="round" stroke-linejoin="round"></line>
            <line x1="697.64" y1="282.82" x2="697.64" y2="371.11" id="Path" stroke="#000000" stroke-width="39" stroke-linecap="round" stroke-linejoin="round"></line>
            <path d="M563,39.85 C631.35,39.85 698.24,47.85 751.35,62.39 C775.51,69 796.14,76.9 811,85.18 C820.95,90.74 826.4,95.46 829,98.3 C826.58,101.36 821.32,106.54 811.41,112.83 C796.59,122.18 776.06,131.21 752,139 C697.51,156.49 630.38,166.12 563,166.12 C495.62,166.12 428.48,156.49 374,139 C349.91,131.26 329.39,122.23 314.64,112.88 C304.74,106.59 299.47,101.41 297.05,98.35 C299.62,95.51 305.05,90.79 315.05,85.23 C329.87,76.95 350.5,69.07 374.71,62.44 C427.82,47.9 494.71,39.9 563.05,39.9 M563.05,0.9 C400.52,0.9 256.77,44.38 256.77,98.01 C256.77,151.64 400.42,205.07 563,205.07 C725.58,205.07 869.24,151.59 869.24,98 C869.24,44.41 725.48,0.85 563,0.85 L563.05,0.9 Z" id="Shape" fill="#000000" fill-rule="nonzero"></path>
            <line x1="276.2" y1="163.6" x2="276.2" y2="180.19" id="Path" stroke="#000000" stroke-width="39" stroke-linecap="round" stroke-linejoin="round"></line>
        </g>
    </g>
</svg>