<?xml version="1.0" encoding="UTF-8"?>
<svg width="542px" height="751px" viewBox="0 0 542 751" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>BLACK</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="Group" transform="translate(-13208.000000, -9974.000000)" stroke="#000000" stroke-width="39">
            <g id="BLACK" transform="translate(13235.000000, 9993.000000)">
                <rect id="Rectangle" transform="translate(243.943891, 368.949694) rotate(31.870000) translate(-243.943891, -368.949694) " x="176.823891" y="15.0446938" width="134.24" height="707.81" rx="25.63"></rect>
                <line x1="76.25" y1="611.43" x2="103.25" y2="626.43" id="Path"></line>
                <path d="M362,46.91 L354.21,18 C353.265376,14.4991269 353.750386,10.7663779 355.558303,7.62315292 C357.36622,4.47992797 360.348901,2.18378659 363.85,1.24 L363.85,1.24 C367.350873,0.295375954 371.083622,0.780386236 374.226847,2.58830322 C377.370072,4.3962202 379.666213,7.37890106 380.61,10.88 L388.44,39.88" id="Path"></path>
            </g>
        </g>
    </g>
</svg>