<?xml version="1.0" encoding="UTF-8"?>
<svg width="616px" height="498px" viewBox="0 0 616 498" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>BLACK</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="BLACK">
            <path d="M558,39.29 C568.168516,39.3010228 576.408977,47.5414842 576.42,57.71 L576.42,440.29 C576.408977,450.458516 568.168516,458.698977 558,458.71 L58,458.71 C47.8314842,458.698977 39.5910228,450.458516 39.58,440.29 L39.58,57.71 C39.5910228,47.5414842 47.8314842,39.3010228 58,39.29 L558,39.29 M558,0.29 L58,0.29 C26.2878097,0.29 0.58,25.9978097 0.58,57.71 L0.58,440.29 C0.58,455.518731 6.62958977,470.123733 17.3979286,480.892071 C28.1662675,491.66041 42.7712692,497.71 58,497.71 L558,497.71 C589.71219,497.71 615.42,472.00219 615.42,440.29 L615.42,57.71 C615.42,25.9978097 589.71219,0.29 558,0.29 Z" id="Shape" fill="#000000" fill-rule="nonzero"></path>
            <path d="M500.51,116.7 L500.51,381.3 L118.33,381.3 L118.33,116.7 L500.51,116.7 M515.91,77.7 L102.91,77.7 C89.8705571,77.7 79.3,88.2705571 79.3,101.31 L79.3,396.69 C79.3,409.729443 89.8705571,420.3 102.91,420.3 L515.91,420.3 C522.170842,420.3 528.17511,417.812206 532.601257,413.384185 C537.027403,408.956163 539.510002,402.950842 539.510002,396.69 L539.510002,101.31 C539.510002,95.0491584 537.027403,89.0438367 532.601257,84.6158151 C528.17511,80.1877935 522.170842,77.7 515.91,77.7 L515.91,77.7 Z" id="Shape" fill="#000000" fill-rule="nonzero"></path>
            <polygon id="Path" stroke="#000000" stroke-width="39" stroke-linecap="round" stroke-linejoin="round" points="308 152.6 181.77 249 308 341.28 427.99 249"></polygon>
        </g>
    </g>
</svg>