<?xml version="1.0" encoding="UTF-8"?>
<svg width="708px" height="542px" viewBox="0 0 708 542" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>BLACK</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
        <g id="Black_Tapestry" transform="translate(19.000000, 19.000000)" stroke="#000000" stroke-width="39">
            <g id="BLACK">
                <line x1="448.42" y1="426.69" x2="426.68" y2="431.84" id="Path" stroke-linecap="round"></line>
                <path d="M426.68,431.84 L130.69,502 C103.286152,508.491641 75.8075195,491.542455 69.31,464.14 L2.37,181.66 C-4.11532984,154.259487 12.8324111,126.787673 40.23,120.29 L539.31,2 C566.713848,-4.49164064 594.19248,12.457545 600.69,39.86 L667.63,322.33 C674.11533,349.730513 657.167589,377.202327 629.77,383.7 L565.91,398.83" id="Path" stroke-linecap="round"></path>
                <path d="M562.55,399.64 C563.137954,397.037906 563.429808,394.377675 563.42,391.71 L563.42,361.35 C563.547115,356.305192 560.32814,351.782329 555.52,350.25" id="Path"></path>
                <path d="M452.28,372.87 C449.363553,376.693067 447.380838,381.144758 446.49,385.87 C445.11,393.51 447.27,421.87 447.27,421.87 C447.27,421.87 447.86,431.46 455.89,434.6 C463.92,437.74 516,459.48 516,459.48 C516,459.48 525.4,463.2 530.69,455.17 C535.98,447.14 559.49,407.17 559.49,407.17 C560.951713,404.862253 561.969185,402.301614 562.49,399.62" id="Path"></path>
                <path d="M452.28,372.87 C451.182376,374.514699 450.876136,376.563478 451.444848,378.457252 C452.01356,380.351026 453.397864,381.892124 455.22,382.66 L519.22,409.46 C522.167119,410.693213 525.574526,409.645751 527.32,406.97 L558.47,359.22 C560.71,355.78 558.59,351.51 554.83,349.89" id="Path"></path>
                <path d="M558.2,351.51 L496.73,324.14 C491.413548,321.84645 485.217548,323.676226 482,328.49 L451.2,374.32" id="Path"></path>
                <line x1="524.63" y1="409.97" x2="523.55" y2="459.83" id="Path"></line>
                <path d="M264.94,286.48 L294.43,273.42 C298.696125,270.747909 304.113875,270.747909 308.38,273.42 C316.03,277.92 368.38,315.97 368.38,315.97 C368.38,315.97 374.38,321.14 372.58,324.97 C370.78,328.8 368.07,331.5 363.12,334.87 L313.83,368.47 C309.1,371.7 304.4,374.99 299.65,378.19 C295.39,381.06 290.65,385.28 285.49,386.35 C279.49,387.61 276.42,383.96 275,378.43 C269.73,357.84 266.32,336.58 262,315.77 L258.88,300.66 C258.88,300.66 255.89,290.48 264.94,286.48 Z" id="Path" stroke-linecap="round"></path>
                <line x1="301.85" y1="271.42" x2="280.69" y2="386.6" id="Path" stroke-linecap="round"></line>
            </g>
        </g>
    </g>
</svg>