<?xml version="1.0" encoding="UTF-8"?>
<svg width="564px" height="564px" class="width-half" viewBox="0 0 564 564" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>White_Account</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="White_Account">
            <path d="M282.09,39.8597321 C402.190422,39.8343161 504.170295,127.825441 521.736983,246.634209 C539.30367,365.442978 467.150803,479.180818 352.18179,513.911756 C237.212777,548.642693 114.156315,493.875552 63.0060053,385.212045 C11.8556955,276.548538 48.0625147,146.812657 148.09,80.34 C187.763764,53.8774147 234.400684,39.7888886 282.09,39.8597321 L282.09,39.8597321 M282.09,0.86 C170.81,0.86 65.46,67.4 21.31,176.95 C-36.69,320.95 32.97,484.67 176.95,542.69 C210.312939,556.183076 245.961827,563.126122 281.95,563.14 C393.23,563.14 498.58,496.6 542.73,387.05 C600.73,243.05 531.07,79.33 387.09,21.31 C353.727061,7.81692359 318.078173,0.873878163 282.09,0.86 Z" id="Shape" fill="#FFFFFF" fill-rule="nonzero"></path>
            <path d="M282,187 C312.375661,187 337,211.624339 337,242 C337,272.375661 312.375661,297 282,297 C251.624339,297 227,272.375661 227,242 C227,211.624339 251.624339,187 282,187 M282,148 C230.085234,148 188,190.085234 188,242 C188,293.914766 230.085234,336 282,336 C333.914766,336 376,293.914766 376,242 C376,190.085234 333.914766,148 282,148 L282,148 Z" id="Shape" fill="#FFFFFF" fill-rule="nonzero"></path>
            <path d="M424.44,516.18 C420.26,336.62 282,336 282,336 C282,336 143.74,336.67 139.56,516.23" id="Path" stroke="#FFFFFF" stroke-width="39"></path>
        </g>
    </g>
</svg>