<?xml version="1.0" encoding="UTF-8"?>
<svg width="670px" height="547px" viewBox="0 0 670 547" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Group</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group" transform="translate(0.000000, -0.000000)" stroke="#000000">
            <g id="svg-accessories" transform="translate(118.672414, 31.000000)">
                <path d="M89.3275862,65 C96.6930582,27.2569296 129.901914,0.00386795092 168.532473,0 L263.304954,0 C301.594238,0.00303736331 334.608467,26.7894184 342.327586,64.1156977" id="Path" stroke-width="39"></path>
                <path d="M62.7781446,438.990332 C58.2229612,439.293612 52.1493835,432.469801 52.3315908,417.396761 L52.3315908,72.49861 C52.3275862,70.5105525 53.1189542,68.6032318 54.5258584,67.1967512 C55.9327625,65.7902707 57.8417892,65 59.8324594,65 L372.826698,65 C376.970541,65.0041844 380.327586,68.3602012 380.327586,72.49861 L380.327586,417.396761 C380.327586,419.77783 380.090997,422.153027 379.613921,424.485942" id="Path" stroke-width="39"></path>
                <line x1="129.327586" y1="439.5" x2="65.3275862" y2="439.5" id="Path" stroke-width="39"></line>
                <rect id="Rectangle" stroke-width="39" x="124.327586" y="426" width="278" height="58" rx="29"></rect>
                <line x1="129.327586" y1="102.5" x2="302.327586" y2="102.5" id="Path" stroke-width="39"></line>
                <path d="M119.327586,475 L23.9941254,475 C10.9234568,475 0.327586207,464.385171 0.327586207,451.291116 L0.327586207,144.708884 C0.327586207,131.614829 10.9234568,121 23.9941254,121 L44.4682222,121" id="Path" stroke-width="37.5"></path>
                <path d="M387.327586,121 L407.536179,121 C420.675811,121 431.327586,131.614829 431.327586,144.708884 L431.327586,451.291116 C431.327586,464.385171 420.675811,475 407.536179,475 L394.706658,475" id="Path" stroke-width="37.5"></path>
            </g>
        </g>
    </g>
</svg>