<?xml version="1.0" encoding="UTF-8"?>
<svg width="616px" height="616px" viewBox="0 0 616 616" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>BLACK</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="BLACK">
            <rect id="Rectangle" stroke="#000000" stroke-width="39" stroke-linecap="round" stroke-linejoin="round" transform="translate(392.169010, 274.870684) rotate(-16.040000) translate(-392.169010, -274.870684) " x="290.07401" y="127.030684" width="204.19" height="295.68" rx="102.09"></rect>
            <rect id="Rectangle" stroke="#000000" stroke-width="39" stroke-linecap="round" stroke-linejoin="round" transform="translate(375.364597, 216.425748) rotate(-16.040000) translate(-375.364597, -216.425748) " x="361.719597" y="184.100748" width="27.29" height="64.65" rx="13.645"></rect>
            <line x1="366.44" y1="185.33" x2="351.33" y2="132.76" id="Path" stroke="#000000" stroke-width="39" stroke-linecap="round" stroke-linejoin="round"></line>
            <path d="M551.6,39.56 C565.314182,39.5710287 576.428971,50.6858176 576.44,64.4 L576.44,551.6 C576.428971,565.314182 565.314182,576.428971 551.6,576.44 L64.4,576.44 C50.6858176,576.428971 39.5710287,565.314182 39.56,551.6 L39.56,64.4 C39.5710287,50.6858176 50.6858176,39.5710287 64.4,39.56 L551.6,39.56 M551.6,0.56 L64.4,0.56 C29.1421416,0.56 0.56,29.1421416 0.56,64.4 L0.56,551.6 C0.56,586.857858 29.1421416,615.44 64.4,615.44 L551.6,615.44 C586.857858,615.44 615.44,586.857858 615.44,551.6 L615.44,64.4 C615.44,29.1421416 586.857858,0.56 551.6,0.56 Z" id="Shape" fill="#000000" fill-rule="nonzero"></path>
        </g>
    </g>
</svg>