{%- assign current_collection = collection -%}
{%- assign current_product = product -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}

{% include "attribute-product-featured-image" %}
{% include "attribute-product-options" %}
{% include "attribute-variant-on-sale" %}
{% include "attribute-product-addon-handles" %}
{% include "attribute-product-upgrade-handles" %}

<div class="padding-bottom-8 large--padding-bottom-16 large--border large--border-width-6 border-light-grey padding-horizontal-4">
  <div class="max-width-8 center">
    <div class="grid columns-1 large--columns-3 large--grid-gap-4">
      <div class="column-span-1 large--column-span-2 large--padding-right-16 margin-horizontal--4 small--margin-horizontal--6 large--margin-horizontal-0">
        <div class="width-100 overflow-hidden large--overflow-visible text-center padding-horizontal-12 large--padding-horizontal-0">
          <div class="width-100 relative padding-vertical-6 large--padding-vertical-10">
            {% include "product-gallery" %}
            {% include 'product-thumbnails' %}
          </div>
        </div>

        <div class="hide large--block">
          {% include 'product-details' %}
        </div>
      </div>

      <div class="column-span-2 large--column-span-1 text-center large--text-left large--padding-top-16">
        <div class="padding-bottom-16 large--padding-top-16">
          {% include "product-reviews-stars" %}

          <h1 class="font-family-heading font-size-6 font-weight-6 letter-spacing-1 text-uppercase margin-top-3 margin-bottom-0">
            {{ product.title }}
          </h1>
          
          <a href="/collections/artists-{{ product.vendor | handle }}" class="link block text-uppercase letter-spacing-1 font-size-2 small--font-size-4 block margin-bottom-3">{{ product.vendor }}</a>

          {% include "product-form" %}
        </div>
      </div>

      <div class="large--hide">
        {% include 'product-details' %}
      </div>
    </div>
  </div>
</div>

<div class="findify-recommendation-container">
  <div class="findify-element" id="product-findify-rec-2"></div>
  <div class="findify-element" id="product-findify-rec-3"></div>
</div>

{% include "product-related-products" %}

{% include "product-featured-image" %}

{% include "product-reviews" %}