<h1 class="invisible">Account Login</h1>

<div class="container padding-12">

  <div class="js-view-container text-center medium--text-left">
    <div class="grid grid-gap-5 medium--columns-2 large--grid-gap-6">
      {% section 'customer-login' %}
      {% section 'customer-login-register' %}
    </div>
  </div>

  <div class="js-view-container text-center medium--text-left hide">
    {% section "customer-recover-password" %}
  </div>
</div>
